@using Internhub.Models;
@model List<Internship>
@{
    ViewData["Title"] = "Internship Posted List";
    int postCount = 1;
}

<h1>Internship Posted List</h1>

@if (Model.Count > 0)
{
    <div table-responsive>
        <table>
            <tr>
                <th class="sn">Sr.No</th>
                <th>JOB TITLE</th>
                <th>No. Of Post</th>
                <th>Qualification Required</th>
                <th>Experience Required</th>
                <th>Last Date to apply</th>
                <th>Company</th>
                <th>Country</th>
                <th>State</th>
                <th>Job Posted Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach(var item in Model){
                <tr>
                    @{
                        int count = postCount++;
                    }
                    <td class="sn">@count</td>
                    <td>@Html.DisplayFor(m => item.JobTitle)</td>
                    <td>@Html.DisplayFor(m => item.NOP)</td>
                    <td>@Html.DisplayFor(m => item.Qualification)</td>
                    <td>@Html.DisplayFor(m => item.Experience)</td>
                    <td>@Html.DisplayFor(m => item.LastDateToApply)</td>
                    <td>@Html.DisplayFor(m => item.CompanyName)</td>
                    <td>@Html.DisplayFor(m => item.Country)</td>
                    <td>@Html.DisplayFor(m => item.State)</td>
                    <td>@Html.DisplayFor(m => item.DateCreated)</td>
                    <td class="icons"><i class="fa-solid fa-pen"></i></td>
                    <td class="icons"><i class="fa-solid fa-trash-can"></i></td>
                </tr>
            }
            
        </table>
    </div>
}
else { 
    <h3 class="alert alert-danger">No Intership to show</h3>
}

    @section Scripts {
    @if (TempData["AddInternship"] != null)
    {
        <script type="text/javascript">
            var message = '@TempData["AddInternship"]';
            alertify.success(message);
        </script>
    }
   }